body {
  margin: 0;
}

a {
    text-decoration: none;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.site {
  min-height: 90vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans serif;
  font-size: 14px;
  font-color: black;
}

li {
  display: inline;
  padding: 6px;
}

.signin {
  border: none;
  background-color: #2980b9;
  color: white;
  padding: 6px 12px;
  border-radius: 2px;
    
}
.header {
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  }

.content {
  text-align: center;
  margin: auto;
  align-content: center;
  justify-content: center;
}

.searchContainer {
  width: 400px;
  display: inline-flex;
  flex: 1 1 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  padding: 4px;
  margin: 10px;
}

.searchContainer:hover {
  box-shadow: 0px 0px 4px 2px #d7dbdd;
}

.searchIconSearch {
  position: absolute;
  padding: 10px;
  color: grey;
}

.searchIconMic {
  position: absolute;
  padding: 10px;
  margin-left: 370px;
  color: grey;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4em;
  width: 100%;
  background-color: #f2f3f4;
  border: 1px solid #d7dbdd;
  font-color: #626567;
}

.buttons {
  border: 1px solid transparent;
  background-color: #f2f3f4;
  padding: 10px 16px;
  border-radius: 6px;
  margin: 5px;
  cursor: pointer;
}

.buttons:hover {
  border: 1px solid #b3b6b7;
  box-shadow: 0px 0px 4px 1px #d7dbdd;
}

.fleft {
  float: left;
  margin-left: 0px;
  margin-bottom: 30px;
}

.fright {
  float: right;
  margin-right: 20px;
  margin-bottom: 30px;
}